/* Fonts */
@font-face {
    font-family: Raleway;
    src: url("./Ressources/fonts/Raleway-VariableFont_wght.ttf");
}

@font-face {
    font-family: RalewayItalic;
    src: url("./Ressources/fonts/Raleway-Italic-VariableFont_wght.ttf");
}

/* ----- */

/* Global css parameters */
* {
    margin: 0;
    padding: 0;
    font-family: Raleway;
}

html {
    scroll-behavior: smooth;
}

h2 {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
}

h3 {
    font-size: 18px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #0065FC;
}

/* --------------------- */

/* Header content css */
header,
.content {
    margin: 0 10%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.logo {
    flex: 2;
    cursor: pointer;
}

.pages {
    display: flex;
    align-items: center;
}

.page {
    padding: 50px 25px;
    border-top: white 1px solid;
    cursor: pointer;
    color: black;
}

.page:hover {
    border-top: #0065FC 1px solid;
    color: #0065FC;
}

.login {
    font-weight: bolder;
    color: #0065FC;
    padding-left: 25px;
    cursor: pointer;
}

/* --------------- */

/* Search area (input and filters) css */
.search>div {
    margin-bottom: 30px;
}

.searchBar {
    display: flex;
    align-items: center;
    height: 50px;
}

.searchBarIcon {
    width: 50px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
    border-radius: 15px 0 0 15px;
    min-width: 50px
}

.searchBarBar {
    height: 50px;
    width: auto;
    max-width: 234px;
    width: 70%;
    border: solid 2px #f2f2f2;
    color: black;
}

.searchBarBar input {
    height: 50px;
    width: 234px;
    border: none;
    font-size: 1em;
    font-weight: bold;
    padding-left: 20px;
}

.searchBarButton {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0065FC;
    color: white;
    border-radius: 0 15px 15px 0;
    border: solid 2px #0065FC;
    padding: 0 20px;
    cursor: pointer;
    transition: background .5s, color .5s ease;
}

.searchBarButton:hover {
    background: white;
    color: #0065FC;
}

.searchBarButton i {
    display: none;
}

.filters,
.filtersList,
.filter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.filtersTitle,
.filter {
    margin-right: 20px;
}

.filter {
    border: solid 2px #d9d9d9;
    background: white;
    padding: 0;
    border-radius: 30px;
    margin-top: 10px;
    cursor: pointer;
    transition: all .5s ease;
}

.filter:hover {
    border: solid 2px #0065FC;
}

.filter:hover .filterIcon {
    color: #DEEBFF;
    background-color: #0065FC;
}

.filterText {
    margin: 10px 23px;
    color: black;
}

.filterIcon {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 23px;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;
    font-size: 20px;
}

.foot {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 10px;
    color: #0065FC;
}

.fa-stack {
    font-size: 0.7em;
}

.fa-circle {
    color: #d9d9d9;
}

/* --------------------------------- */

/* Hosts area (sorted by city and most populars) css */
#hebergements {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

#hebergements>div {
    border-radius: 20px;
}

.ville {
    background: #f2f2f2;
    padding: 30px 30px 29px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1 0;
    flex-direction: row;
}

.ville h2,
.ville h3 {
    display: inline-block;
    width: 100%;
}

.ville h3 {
    margin-top: 14px;
}

.ville h2,
.populaires h2 {
    margin-bottom: 20px;
}

.ville .lieu {
    border: solid 5px white;
    background-color: white;
    border-radius: 20px;
    max-width: 236px;
    margin-bottom: 30px;
    margin-right: 10px;
}

.lieu {
    box-shadow: 3px 5px 5px #e2e2e2;
}

.lieu h3,
.lieu p,
.lieu .note {
    padding: 0 10px;
}

.lieu h3 {
    font-size: 16px;
}

.lieu p {
    font-size: 14px;
}

.populaires {
    padding: 34px 37px;
    margin-left: 40px;
    width: 333px;
    background: #f2f2f2;
    position: relative;
}

.populaires .fa-chart-line {
    position: absolute;
    top: 38px;
    right: 37px;
    color: black;
    font-size: 20px;
}

.populaires .lieu {
    display: flex;
    height: 134px;
    border: solid 5px white;
    background: white;
    border-radius: 20px;
    margin-bottom: 20px;
}



.populaires .lieu img {
    width: 127px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

.populaires .description {
    display: flex;
    flex-direction: column;
}

.populaires h3 {
    padding: 10px;
}

.populaires p {
    padding: 0 10px;
}

.populaires .note {
    padding: 0 10px;
    flex: 2;
    align-items: flex-end;
}

.ville .lieu img {
    max-height: 114px;
    width: 236px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

/* ------------------------------------------------ */

/* Activities area css */
#activities {
    margin-top: 60px;
}

.table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 40px;
    margin-top: 25px;
}

.largePlace,
.singlePlace {
    box-shadow: 3px 5px 5px #e2e2e2;
    border-radius: 20px;
}

.largePlace .image,
.singlePlace .image {
    border-radius: 20px 20px 0 0;
}

.singlePlace h3,
.largePlace h3 {
    height: 55px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

/* Position of activities cards */
.LeftPlace {
    grid-column: 1;
    grid-row: 1;
    grid-row-end: 3;
}

.LeftPlace .image {
    height: 390px;
    background: url(./Ressources/images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    background-size: cover;
    background-position: top;
}

.TopLeft {
    grid-column: 2;
    grid-row: 1;
}

.TopLeft .image {
    height: 190px;
    background: url(./Ressources/images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.BottomLeft {
    grid-column: 2;
    grid-row: 2;
    margin-top: 40px;
}

.BottomLeft .image {
    height: 110px;
    background: url(./Ressources/images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
    background-size: cover;
    background-position: top;
}

.RightPlace {
    grid-column: 3;
    grid-row: 1;
    grid-row-end: 3;
}

.RightPlace .image {
    height: 390px;
    background: url(./Ressources/images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    background-size: cover;
    background-position: top;
}

.TopRight {
    grid-column: 4;
    grid-row: 1;
    margin-bottom: 40px;
}

.TopRight .image {
    height: 150px;
    background: url(./Ressources/images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
    background-size: cover;
    background-position: top;
}

.BottomRight {
    grid-column: 4;
    grid-row: 2;
}

.BottomRight .image {
    height: 155px;
    background: url(./Ressources/images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    background-size: cover;
    background-position: top;
}

/* ---------------------------- */

/* ------------------- */

/* FA star icons css */
.price {
    font-weight: bold;
}

.note {
    display: flex;
    margin: 5px 0;
}

.fa-star {
    color: #d9d9d9;
}

.blue {
    color: #0065FC;
}

/* ----------------- */

/* Footer content css */
footer {
    height: 217px;
    width: 80%;
    background: #f2f2f2;
    display: flex;
    padding: 0 10%;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px 0 0 0;
}

.columnFooter {
    flex: 1;
}

.columnFooter :nth-child(n) {
    margin-bottom: 10px;
}

/* ------------------ */

/* Media query for different breackpoints */
/*** For mobiles ***/
@media only screen and (max-width: 603px) {

    header,
    .content {
        margin: 0;
    }

    .logo,
    .login,
    .content {
        margin-left: 10%;
        margin-right: 10%;
    }

    .pages {
        order: 1;
        flex: 1;
        margin-top: 10px;
    }

    .page {
        padding: 10px 0;
        margin-bottom: 10px;
        flex: 1;
        text-align: center;
        border-bottom: solid 3px rgb(192, 192, 192);

    }

    .page:hover {
        border-bottom: solid 3px #0065FC;
        border-top: 0px;
    }

    header {
        margin-top: 20px;
    }

    .content {
        margin: 20px 0;
    }

    .search {
        margin: 0 10%;
    }

    .searchBarButton {
        padding: 0 15px;
    }

    .searchBarButton i {
        display: inline-block;
    }

    .searchBarButton h3 {
        display: none;
    }

    #hebergements>div {
        border-radius: 0px;
    }

    .ville {
        background: white;
    }

    .populaires {
        width: auto;
    }

    #activities {
        margin: 0 37px;
    }


}

/*** Small tablets (or large mobiles) ***/
@media only screen and (max-width: 728px) {
    .ville {
        display: block;
    }

    .ville .lieu {
        margin-right: 0px;
        max-width: 1500px;
    }

    .ville .lieu img {
        width: 100%;
    }

    .table {
        display: block;
    }

}

/*** Tablets ***/
@media only screen and (max-width: 800px) {
    footer {
        height: auto;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .columnFooter {
        width: 80%;
        margin: 25px 0;
        flex: 0;
    }
}

@media only screen and (max-width: 1286px) {
    .table {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 290px 290px 290px;
        margin: 0;
    }

    .largePlace .image,
    .singlePlace .image {
        height: 200px;
    }

    .LeftPlace {
        grid-column: 1;
        grid-row: 1;
    }

    .TopLeft {
        grid-column: 2;
        grid-row: 1;
    }

    .BottomLeft {
        grid-column: 1;
        grid-row: 2;
    }

    .RightPlace {
        grid-column: 2;
        grid-row: 2;
    }

    .TopRight {
        grid-column: 1;
        grid-row: 3;
    }

    .BottomRight {
        grid-column: 2;
        grid-row: 3;
    }

    .LeftPlace,
    .TopLeft,
    .BottomLeft,
    .RightPlace,
    .TopRight,
    .BottomRight {
        margin: 0 0 40px 0;
    }
}

/*** Between tablets and pc screens ***/
@media only screen and (max-width: 1286px) {
    #hebergements {
        display: grid;
    }

    .ville {
        margin-top: 20px;
    }

    .populaires {
        margin: 0;
        order: -1;
        width: auto;
    }
}

/* --------------------------------------- */