@font-face {
    font-family: Raleway;
    src: url("./Ressources/fonts/Raleway-VariableFont_wght.ttf");
}

@font-face {
    font-family: RalewayItalic;
    src: url("./Ressources/fonts/Raleway-Italic-VariableFont_wght.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: Raleway;
}

.header,
.content {
    margin: 0 10%;
}

h2 {
    margin-bottom: 10px;
    font-size: 23px;
    font-weight: bold;
}

h3 {
    font-size: 18px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.logo {
    flex: 2;
    cursor: pointer;
}

.pages {
    display: flex;
    align-items: center;
}

.page {
    padding: 50px 25px;
    border-top: white 1px solid;
    cursor: pointer;
    color: black;
}

.page:hover {
    border-top: #0065FC 1px solid;
    color: #0065FC;
}

.login {
    font-weight: bolder;
    color: #0065FC;
    padding-left: 25px;
    cursor: pointer;
}

.search>div {
    margin-bottom: 30px;
}

.searchBar {
    display: flex;
    align-items: center;
    height: 50px;
}

.searchBarIcon {
    width: 50px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
    border-radius: 15px 0 0 15px;
}

.searchBarBar {
    height: 50px;
    width: 234px;
    border: solid 2px #f2f2f2;
    color: black;
}

.searchBarBar input {
    height: 50px;
    width: 234px;
    border: none;
    font-size: 1em;
    font-weight: bold;
    padding-left: 20px;
}

.searchBarButton {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0065FC;
    border-radius: 0 15px 15px 0;
    border: solid 2px #0065FC;
    padding: 0 20px;
    cursor: pointer;
    transition: all .7s ease;
}

.searchBarButton:hover {
    background: white;
    color: #0065FC;
}

.searchBarButton i {
    display: none;
}

.filters,
.filtersList,
.filter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.filtersTitle,
.filter {
    margin-right: 20px;
}

.filter {
    border: solid 2px #d9d9d9;
    padding: 0;
    border-radius: 30px;
    margin-top: 10px;
    cursor: pointer;
    transition: all .7s ease;
}

.filter:hover {
    border: solid 2px #0065FC;
}

.filter:hover .filterIcon {
    color: #DEEBFF;
    background-color: #0065FC;
}

.filterText {
    margin: 10px 23px;
    color: black;
}

.filterIcon {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 23px;
    align-items: center;
    justify-content: center;
    transition: all .7s ease;
}

.foot {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 10px;
    color: #0065FC;
}

.fa-stack {
    font-size: 0.7em;
}

.fa-circle {
    color: #d9d9d9;
}


.footer {
    height: 217px;
    width: 80%;
    background: #f2f2f2;
    display: flex;
    padding: 0 10%;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px 0 0 0;
}

.columnFooter {
    flex: 1;
}

.columnFooter :nth-child(n) {
    margin-bottom: 10px;
}


@media only screen and (max-width: 603px) {

    .header,
    .content {
        margin: 0;
    }

    .logo,
    .login,
    .content {
        margin-left: 10%;
        margin-right: 10%;
    }

    .pages {
        order: 1;
        flex: 1;

    }

    .page {
        padding: 10px 0;
        margin-bottom: 10px;
        flex: 1;
        text-align: center;
        border-bottom: solid 3px rgb(192, 192, 192);

    }

    .page:hover {
        border-bottom: solid 3px #0065FC;
        border-top: 0px;
    }

    .header {
        margin-top: 20px;
    }

    .searchBarButton i {
        display: inline-block;
    }

    .searchBarButton h3 {
        display: none;
    }

    .footer {
        height: auto;
        flex-direction: column;
    }

    .columnFooter {
        width: 80%;
        margin: 25px 0;
        flex: 0;
    }
}